# eclipse
/bin/
/eclipse/
*.launch
.settings
.metadata
.classpath
.project

# idea
/out/
*.ipr
*.iws
*.iml
.idea

# gradle
/build/
/.gradle/

# other
/classes/
/run/
/test/
/site/
/logs/
/libs/
/libs-disabled/
/todo/
/.vscode/

*.log
cloc-1.80.exe