body {
    color: #c0c0c0;
    //color: #78af95;
}

code {
    background: #222;
    border: 1px solid rgba(255, 255, 255, .1);
    color: #c0c0c0;
}

pre {
    background: #222;
    border: 1px solid rgba(255, 255, 255, .1);
    padding: 8px;
}

h1, h2, h3, h4, h5, h6 {
    color: #95d7da;
}

hr {
    border-top: 1px solid rgba(255, 255, 255, .1);
}

section a, section a:visited {
  color: #caaa70;
}

section a:hover {
  color: #EDCB8C;
}

/* Let's make sure we don't make the ads invisible. It's just... ethical? */
.ethical-footer {
    color: #c0c0c0 !important;
}

.ethical-footer a, .ethical-footer a:visited, .ethical-footer a:hover, .ethical-footer a:active {
    color: #caaa70 !important;
}

.rst-content .section ol p, .rst-content .section ul p {
    margin-bottom: 0px;
    margin-top: 16px;
}

.zen-description {
    padding-left: 32px;
    padding-bottom: 0px;
    margin-bottom: 8px;
}

.section #methods {
    margin-top: 32px;
}

li.zen-description {
    padding-left: 0px;
    margin-left: 56px !important;
    margin-bottom: 0px !important;
}

.zen-method {
    padding-left: 32px;
}

.wy-nav-top {
    background: #b786b7;
}

.wy-nav-content {
    background: #1d1d1d !important;
}

.wy-nav-content-wrap {
    background: #1d1d1d;
}

.wy-side-nav-search {
    background-color: #b786b7;
    color: #fcfcfc;
}

.wy-side-nav-search input[type="text"] {
    border-color: #95d7da;
    border-width: 4px;
}

.wy-nav-side {
    background: #443144;
}

.wy-menu-vertical li ul.subnav ul.subnav {
    padding-left: 0em;
}

.wy-menu-vertical li.on a, .wy-menu-vertical li.current>a {
    color: #443144;
    //background: #fbd2fb;
    background: #fff;
}

.wy-menu-vertical li.current {
    background: #b786b7;
}

.wy-menu-vertical li.current a {
    color: #443144;
    border-right: 0px;
    border-color: #95d7da;
    border-width: 4px;
}

.wy-menu-vertical li.current a:hover {
    background: #fbd2fb;
}

.wy-menu-vertical a {
    color: #fbd2fb;
}

.wy-menu-vertical a:hover {
    //background-color: #b786b7;
    background-color: #95d7da;
    color: #443144;
}

.wy-menu-vertical li ul li a {
    color: #fbd2fb;
}

.wy-menu-vertical span {
    color: #95d7da;
    font-weight: bold;
}

.wy-table-odd td, .wy-table-striped tr:nth-child(2n-1) td, .rst-content table.docutils:not(.field-list) tr:nth-child(2n-1) td {
    background-color: #222;
}

.wy-table, .rst-content table.docutils, .rst-content table.field-list {
    width: 100%;
    empty-cells:hide;
    margin-bottom: 32px;
}

td {
    color: #bbb;
    border: none;
    border: 0px solid #999 !important;
}

th {
    color: #000;
    background-color: #666;
    border: 0px solid #999 !important;
}

.wy-table thead, .rst-content table.docutils thead, .rst-content table.field-list thead {
    color: #bbb;
    text-align: left;
    vertical-align: bottom;
    white-space: nowrap;
}

.hljs {
    display: block;
    overflow-x: auto;
    color: #BBB;
    -webkit-text-size-adjust: none;
    /*font-size: 16px;*/
}

.hljs-comment, .diff .hljs-header, .hljs-javadoc {
    color: #78af95;
    font-style: italic;
}

.hljs-keyword, .css .rule .hljs-keyword, .hljs-winutils, .nginx .hljs-title, .hljs-subst, .hljs-request, .hljs-status {
    color: #b786b7;
    font-weight: bold;
}

.hljs-title, .hljs-id, .scss .hljs-preprocessor {
    color: #95d7da;
    font-weight: bold;
}

.hljs-string, .hljs-tag .hljs-value, .hljs-phpdoc, .hljs-dartdoc, .tex .hljs-formula {
    color: #caaa70;
}

.hljs-tag, .hljs-attribute {
    color: #95d7da;
}

.hljs-tag .hljs-title {
    color: #95d7da;
}

div.admonition.warning, div.admonition.note {
    color: #222;
}

div.admonition.warning a, div.admonition.note a {
    font-weight: bold;
}

div.admonition.note a {
    color: #6ab0de;
}

div.admonition a:hover {
    color: #000;
}

footer {
    margin-top: 64px;
}